<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
	<!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
	<springProperty  name="LOG_HOME" source="logging.path"/>
	<property name="logPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID} --- [%15.15t] %-40.40logger{39} : %m%n"></property>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
	</appender>

	<appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<File>${LOG_HOME}/feedback_error.log</File>
		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/feedback_error.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxHistory>7</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="file-warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<File>${LOG_HOME}/feedback_warn.log</File>
		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/feedback_warn.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxHistory>7</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="message" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<File>${LOG_HOME}/feedback_message.log</File>
		<encoder>
			<pattern>${logPattern}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/feedback_message.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxHistory>7</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

<!--	<springProfile name="dev">-->
<!--	  	<root>-->
<!--	  		<appender-ref ref="stdout" />-->
<!--		</root>-->
<!--    </springProfile>-->

	<root level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="file-error" />
		<appender-ref ref="file-warn" />
	</root>

	<logger name="org.springframework" level="WARN"/>
	<logger name="org.apache" level="WARN"/>

	<logger name="com.quantil.cm.feedback.service.MessageSender">
		<appender-ref ref="message" />
	</logger>

	<logger name="RocketmqCommon" level="WARN"/>
	<logger name="RocketmqClient" level="WARN"/>
	<logger name="RocketmqRemoting" level="WARN"/>

</configuration>