<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quantil.cm.feedback.mapper.PurgeVaryUrlMapper">

    <select id="selectByTaskId" resultType="com.quantil.cm.feedback.domain.PurgeVaryUrl">
        SELECT *
          FROM purge_vary_url
    <where>
        <if test="taskIds != null and taskIds.size() > 0">
          AND task_id IN
            <foreach collection="taskIds" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </if>
        <if test="taskIds == null or taskIds.size() &lt;= 0">
            AND 1 = 0
        </if>
    </where>
    </select>
    
</mapper>